@import 'tools/tools-index'
@import 'parts/webfonts'
$serif: 'PFCentroSerifPro-Regular', serif
$sans: 'pfcentrosanspro-light', san-serif
$headline-font: 'PFCentroSerifPro-Regular', serif

$small-break: 740px
$keyvisual-height: 650px
$keyvisual-mobile-height: 450px

@mixin transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args

@import 'parts/colors'
@import 'parts/header'
@import 'parts/search'
@import 'parts/intro'
@import 'parts/page'
@import 'parts/news'
@import 'parts/footer'


body
  background-color: white
  font-family: $sans
h1, h2, h3, h4, h5, h6
  font-family: $headline-font
  font-weight: lighter
  color: $primary-color
.wrapper
  max-width: 1280px
  margin: 0 auto
  position: relative
main
  padding: 0 8px
p
  line-height: 1.45em
