@import 'parts/colors'
@import 'tools/tools-index'
@import 'parts/webfonts'
$serif: 'PFCentroSerifPro-Regular', serif
$sans: 'pfcentrosanspro-light', san-serif
$headline-font: 'PFCentroSerifPro-Regular', serif

$small-break: $toast-breakpoint-small
$medium-break: $toast-breakpoint-medium
$large-break: 1280px
$header-break: 1170px
$header-break-medium: 796px
$header-break-small: 620px
$keyvisual-height: 520px
$keyvisual-mobile-height: 300px

$vertical-header-break: 720px

$header-margin: 6em
$header-margin-top: 3.5em
$vertical-keyvisual-margin: 326px
$header-margin-start: 12em

@mixin transition($args...)
  -webkit-transition: $args
  -moz-transition: $args
  -ms-transition: $args
  -o-transition: $args
  transition: $args


@import 'parts/header'
@import 'parts/search'
@import 'parts/intro'
@import 'parts/page'
@import 'parts/rundgang'
@import 'parts/news'
@import 'parts/tablepress'
@import 'parts/footer'
body
  background-color: white
  font-family: $sans

.wrapper
  position: static
  min-width: 320px

.stage
  width: 100%
  position: relative
  margin-left: 0
  @include transition(all 0.25s ease)

h1, h2, h3, h4, h5, h6
  font-family: $headline-font
  font-weight: 400
  color: $primary-color
img
  height: auto
  width: 100%


blockquote
  @media all and (max-width: $large-break)
    font-size: 1.2em
    text-align: center
    padding: 1em
