footer
  padding: 0 16px 16px 8px
  margin: 5em 0 0 329px
  @media all and (max-width: $medium-break)
    margin: 3em 0 0 0 
    width: 100%
.footer-logo
  img
    width: 100%
.main-footer-logo
  margin-left: 8px
  img
    width: 75%
    max-width: 200px
.sponsor-logo
  @media all and (max-width: $medium-break)
    padding: 16px 25%
  img
    width: 70%
    max-width: 250px
.footer-caption
  font-size: 0.85em
  color: $primary-color
.copyright
  color: $primary-color
  text-align: center
.medium-hidden
  @media all and (max-width: $medium-break)
    display: none
