.wrapper
  position: absolute
  display: flex
  @media all and (max-width: $large-break)
    padding: 0 4px
main
  padding: 0 4px

.stage
  width: 100%
  position: relative
  margin-left: 0
  @include transition(all 0.25s ease)

header
  box-sizing: border-box
  min-width: 220px
  background-color: white
.header-position
  box-sizing: border-box
  display: flex
  justify-content: space-between
  flex-direction: column
  background-color: white
  width: 220px
  padding: 1em
  min-height: 100vh
  top: 0
  bottom: 0
  position: fixed

.header-child
  display: block
  flex: 1
.page-thumbnail
  width: 325px
.thumbnail-position
  width: 325px
  position: fixed
  top: 0
  bottom: 0
.opening-hours
  font-size: 0.9em
  color: $primary-color


.language
  ul
    padding-left: 0!important
  li
    display: inline

.logo
  width: 85%
  img
    width: 100%

// Sliding Column Header Element

.sliding-header
  position: relative
  height: 95vh
  padding-right: 10px
  overflow: hidden
  @media all and (max-width: $medium-break)
    height: 320px
    width: 100%

.slidedown
  @include transition(all 0.25s ease)
  padding: 1em
  position: fixed
  height: 100%
  opacity: 0
  top: -100%
  background-color: white
  z-index: 2
  box-shadow: 10px 0 25px -15px grey
  .lang-item
    display: inline-block

// Sliding Menu Activator

.menu-activator
  position: fixed
  bottom: 20px
  padding: 0 8px
  z-index: 999
  height: 50px
  color: $primary-color
  font-size: 2em
  text-decoration: none
  background-color: rgba(white,0.85)
  @media all and (max-width: $small-break)
    top: 0
  &:hover
    color: $secondary-color


// Navigation Elements

nav.nav
  margin: 0
  color: $primary-color
  ul
    margin: 0
    list-style: none
  li
    padding: 1px 0
    text-align: left
  a
    font-weight: bold
    color: $primary-color
    text-decoration: none
    display: inline-block
    padding: 0 5px
    &:hover
      background-color: $secondary-color
      color: white
  .menu-item-has-children
    margin: 8px 0
    padding: 8px 0
  .sub-menu
    padding-left: 12px

// Jquery Classes

.active
  @include transition(all 0.25s ease)
  opacity: 1
  top: 0
.shoved
  @include transition(all 0.25s ease)
  margin-left: 250px
