section.intro
  height: 100vh
  @media all and (max-width: $small-break)
    height: auto
nav.nav
  padding-left: 2em
  color: white
  ul
    padding: 0 0.5em
    list-style: none
  li
    padding: 3px 0
  a
    color: white
    text-decoration: none
    &:hover
      color: $secondary-color
  .sub-menu
    margin-left: 3px
.language
  ul
    padding: 0!important
  li
    display: inline
    margin-right: 8px
.intro-key
  width: 100%
  height: 85vh
  background-color: grey
  background-size: cover!important
  margin-bottom: 1em
  @media all and (max-width: $small-break)
    height: 40vh
.slidedown
  @include transition(all 0.25s ease)
  width: 24%
  height: 85vh
  position: absolute
  opacity: 0
  top: -100%
  background-color: rgba($primary-color,0.95)
  z-index: 2
  @media all and (max-width: $small-break)
    width: 100%
    height: 100vh
.active
  @include transition(all 0.25s ease)
  top: 0
  opacity: 1
.menuarea
  position: relative
.menu-activator
  z-index: 5
  position: absolute
  bottom: 0
  color: $primary-color
  font-size: 2em
  text-decoration: none
  padding: 8px
  background-color: white
  &:hover
    color: $secondary-color
.intro-link
  float: left
  font-family: $headline-font
  color: $primary-color
  font-size: 1.35em
  text-decoration: none
  &:hover
    color: $secondary-color
  &:after
    margin-left: 8px
    content: ""
    display: inline-block
    border-top: 8px solid transparent
    border-bottom: 8px solid transparent
    border-left: 8px solid $primary-color

.logo
  position: absolute
  top: 50%
  width: 220px
  @include transform(translateY(-100%))
  img
    width: 100%
.flex-row
  width: 100%
  display: flex
  flex-flow: row wrap
.flex-col
  box-sizing: border-box
  flex: 1
  @media all and (max-width: $small-break)
    flex-basis: 40%
.flex-stretch
  margin: 0 5px
  @include transition(all 0.25s ease)
  @media all and (max-width: $small-break)
    margin: 0 0 20px 0
  &:hover
    @include transition(all 0.25s ease)
    flex-basis: 18%
    @media all and (max-width: $small-break)
      flex-basis: 40%
.intro-subhead
  color: $primary-color
  font-size: 1.55em
  letter-spacing: 0.5px
  width: 85%
.theme-block
  background-color: grey
  height: 325px
  margin-bottom: 10px
  background-size: cover!important
.hero
  height: 350px
