.news
  article
    margin: 2em 0
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -o-font-smoothing: antialiased
  color: $primary-color
  padding: 10px
  h1, h2, h3, h4, h5, h6
    font-family: $sans
    margin: 0
  p
    font-size: 0.95em
    margin-top: 6px
    color: $primary-color
  .category-headline
    text-align: right
    padding: 6px
    // text-shadow: 2px 2px 3px black
.news-title
  font-size: 1.4em
  @media all and (max-width: $large-break)
    font-size: 1.2em
    font-weight: bold
.news-thumbnail
  width: 108px
  height: 102px
  display: block
  background-size: cover!important
  border-radius: $base-border-radius
  margin: 9px 8px 0 0
  float: left
  @media all and (max-width: $medium-break)
    width: 216px
    height: 128px
.news-date
  text-transform: uppercase
  font-size: 2.15em
  @media all and (max-width: $large-break)
    font-size: 1.8em
    letter-spacing: 1.2px
.news-link
  color: $link-color
  float: right
  text-decoration: none
  &:hover
    color: $secondary-color
  &:after
    margin-left: 6px
    content: ""
    display: inline-block
    border-top: 5px solid transparent
    border-bottom: 5px solid transparent
    border-left: 5px solid $base-text-color
.alt-color
  .category-headline
