aside
  background-color: $muted-grey
  // margin-bottom: -9999px
  padding: 0 8px 8px 8px!important
  overflow: hidden
  @media all and (max-width: $medium-break)
    width: calc(100% + 2em)!important
    // padding: 0 1em 9999px 1em!important
    margin-top: 3em
    margin-left: -1em!important

article
  margin-top: 1em
  @media all and (max-width: $medium-break)
    padding: 1em 4px
.news-header
  color: white
  background-color: $primary-color
  padding-left: 10px
  margin-bottom: 10px!important
  margin-left: -10px!important
  width: calc(100% + 12px)
  @media all and (max-width: $medium-break)
    width: calc(100% + 2em)!important
    margin-left: -1em!important
    font-size: 30px
    padding: 16px
    text-align: center
.news
  -webkit-font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -o-font-smoothing: antialiased
  @media all and (max-width: $medium-break)
  h1, h2, h3, h4, h5, h6
    font-family: $sans
    margin: 0 0 8px 0
  p
    margin-top: 6px
  .category-headline
    margin-bottom: 0.5em
.news-title
  font-size: 1.2em
  a
    color: $primary-color
    &:hover
      color: $secondary-color
  @media all and (max-width: $large-break)
    font-size: 1.25em
.news-thumbnail
  width: calc(100% + 36px)
  height: 275px
  display: block
  background-size: cover!important
  margin: 8px 0 8px -12px!important
  @media all and (max-width: $medium-break)
    width: calc(100% + 8px)
    margin: 8px 0 8px -4px
.news-page
  .post
    padding: 0 12px
.news-page-thumbnail
  width: 100%
  height: 275px
  display: block
  background-size: cover!important
  margin: 8px 0
.thumbnail-tall
  height: 400px
.news-date
  text-align: left
  text-transform: uppercase
  font-size: 1.125em
  background-color: $muted-grey
  color: $primary-color
  padding: 0 4px
.news-date-sidebar
  background-color: darken($muted-grey,10)
  color: $primary-color
.news-page-date
  text-align: left
  font-size: 1em
  padding: 4px 0
.news-link
  color: $link-color
  text-decoration: none
  text-align: right!important
  float: right
  display: block
  &:hover
    color: $primary-color
.news-link-left
  float: left
.left
  position: relative
  width: 20%
  float: left
.right
  position: relative
  width: 80%
  float: right
