@include keyframes(MOVE-BG)
  0%
    background-position: 0% center
  50%
    background-position: 100% center
  100%
    background-position: 0% center
section#content
  margin-left: $header-margin
  @media all and (max-width: $medium-break)
    margin-left: 0
.wordpress-import
  padding-right: 10px
  @media all and (max-width: $medium-break)
    padding: 0
.top-row
  margin-top: 21px
.page-content
  margin-left: $vertical-keyvisual-margin
  overflow: hidden
  @media all and (max-width: $large-break)
  @media all and (max-width: $medium-break)
    padding: 0 1em 0 1em
    @include transition(all 0.5s ease)
    margin-left: 0
.page-hero
  background-size: cover!important
  height: 100vh
  @include animation(MOVE-BG 60s ease-in-out infinite)
  @media all and (max-width: $medium-break)
    @include transition(all 0.5s ease)
    background-size: 100%
    background-position: center center
    margin-top: $header-margin-top
    height: 385px
  @media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait)
    margin-top: 0!important
  @media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
    margin-top: 0!important
.page-title
  font-size: 350%
  margin: 32px 0 0 0
  @media all and (max-width: $medium-break)
    text-align: center
.page-excerpt
  font-size: 1.2em
  line-height: 1.5em
  margin: 0.5em 0 1em 0
  padding: 0.5em 0
  @media all and (max-width: $medium-break)
    font-size: 1.25em
    text-align: center
.sub-page-menu
  padding: 12px 0
  margin-bottom: 2em
  border-bottom: 1px solid rgb(200,200,200)
  // .current_page_item
  //   display: none
  @media all and (max-width: $medium-break)
    text-align: center
  ul
    padding: 0
  li
    display: inline
    font-size: 1em
    font-family: $headline-font
    margin-right: 0.5em
    white-space: nowrap
    // &:after
    //   margin: 0 8px 0 4px
    //   content: ""
    //   display: inline-block
    //   border-top: 6px solid transparent
    //   border-bottom: 6px solid transparent
    //   border-left: 6px solid $primary-color
    a
      color: $primary-color
      text-decoration: none
      &:hover
        color: $secondary-color
.page-key
  height: $keyvisual-height
  background-size: cover!important
.sub-page-menu
  .current_page_item
    // &:after
    //   margin: 0 8px 0 4px
    //   content: ""
    //   display: inline-block
    //   border-top: 6px solid transparent
    //   border-bottom: 6px solid transparent
    //   border-left: 6px solid lighten($secondary-color,20)!important
    a
      color: lighten($secondary-color,20)!important
.sub-page-menu-parent
  margin-right: 1em
  border-right: 1px solid $muted-grey
  padding-right: 1em
  a
    color: $secondary-color!important
.widget_sp_image
  margin-bottom: 1em
  h3
    font-size: 1.15em
    padding: 4px
.widget_sp_image-description
  padding: 4px
  color: $primary-color
  font-size: 0.825em
