@include keyframes(MOVE-BG)
  0%
    background-position: 0% center
  50%
    background-position: 100% center
  100%
    background-position: 0% center


section#content
  margin-left: 220px
  @media all and (max-width: $medium-break)
    margin-left: 0
    padding: 0 8px

.top-row
  margin-top: 21px
.page-content
  margin-left: 335px
  @include display(flex)
  @include flex-direction(row)
  @media all and (max-width: $large-break)
    @include flex-direction(column)
  @media all and (max-width: $medium-break)
    @include transition(all 0.5s ease)
    margin-left: 0
  p
    font-size: 1em
.page-hero
  background-size: cover!important
  height: 100vh
  @include animation(MOVE-BG 60s ease-in-out infinite)
  @media all and (max-width: $medium-break)
    @include transition(all 0.5s ease)
    height: 350px
.page-title
  font-size: 350%
  font-weight: lighter
  margin: 32px 0 0 0
  @media all and (max-width: $small-break)
    text-align: center
.page-excerpt
  width: 85%
  font-size: 1.15em
  line-height: 1.5em
  font-weight: lighter
  margin: 1em 0 2em 0
  @media all and (max-width: $small-break)
    width: 100%
    font-size: 150%
    line-height: 125%
.sub-page-menu
  width: 100%
  padding: 12px 0
  margin-bottom: 2em
  @media all and (max-width: $small-break)
    width: 100%
  ul
    padding: 0
  li
    display: inline
    font-size: 1em
    font-family: $headline-font
    margin-right: 0.5em
    white-space: nowrap
    // &:after
    //   margin: 0 8px 0 4px
    //   content: ""
    //   display: inline-block
    //   border-top: 6px solid transparent
    //   border-bottom: 6px solid transparent
    //   border-left: 6px solid $primary-color
    a
      color: $primary-color
      text-decoration: none
      &:hover
        color: $secondary-color
.page-key
  height: $keyvisual-height
  background-size: cover!important
.sub-page-menu
  .current_page_item
    // &:after
    //   margin: 0 8px 0 4px
    //   content: ""
    //   display: inline-block
    //   border-top: 6px solid transparent
    //   border-bottom: 6px solid transparent
    //   border-left: 6px solid lighten($secondary-color,20)!important
    a
      color: lighten($secondary-color,20)!important
.widget_sp_image
  h3
    font-size: 1.15em
    padding: 4px
.widget_sp_image-description
  padding: 4px
  color: $primary-color
  font-size: 0.90em
