.overlay
  display: none
  position: fixed
  top: 0
  left: 0
  bottom: 0
  right: 0
  width: 100%
  height: 100%
  background-color: rgba($darker-primary,0.93)
  z-index: 997

.rundgang
  opacity: 1
  position: fixed
  width: 75%
  overflow: visible
  top: 100px
  left: 50%
  @include transform(translateX(-50%))
  z-index: 998
  @include transition(all 0.5s ease)
  @media all and (max-width: $medium-break)
    top: 25px

.room
  position: static
  width: 100%
  height: auto
  h5
    color: $secondary-color
    text-align: center
    padding: 0 3em
    margin: 1em 0
    @media all and (max-width: $medium-break)
      padding: 0
      font-size: 100%

.slide
  width: 100%
  height: 725px
  background-size: cover!important

.rundgang-close
  color: $muted-grey
  position: absolute
  top: 0
  right: 0
  font-size: 2em
  z-index: 999
  @include transform(translateX(50%)translateY(-50%))


.rundgang-hidden
  @include transition(all 0.5s ease)
  opacity: 0
  top: -2000px
