.searchwrapper
  box-sizing: border-box
  display: none
  width: 438px
  position: fixed
  top: 0
  padding: 1em
  overflow: hidden
  height: 90px
  @media all and (max-width: $medium-break)
    width: 100%
    top: -60px
    position: absolute

form.search
  width: 100%
  vertical-align: middle
  position: relative
input.search-input
  display: inline-block
  width: 91%
  border: none
  border-radius: 0 12.5px 12.5px 0
  background-color: $muted-grey
  height: 1.7em
  padding: 2px 5px
  color: $primary-color
  &:hover, &:focus
    outline: none
    box-shadow: none
button.search-submit
  height: 30px!important
  width: 30px!important
  border-radius: 50%
  text-align: center
  border: none
  background-color: $muted-grey
  padding: 0
  i
    color: darken($muted-grey, 30)
    border-radius: 50%
    line-height: 25px
    font-size: 0.95em
    margin-top: -2px
    &:hover
      color: $primary-color
