form.search
  margin-top: 8px
  vertical-align: middle
  background-color: $base-text-color
  position: relative
  padding-right: 8px
  width: 90%
  @media all and (max-width: $medium-break)
    width: 85%
input.search-input
  border: none
  background-color: $base-text-color
  height: 1.7em
  padding: 2px 5px
  color: $primary-color
  &:hover, &:focus
    outline: none
    box-shadow: none
button.search-submit
  position: absolute
  top: 0
  right: 0
  height: 100%
  width: auto
  border: none
  padding: 6px 8px 6px 8px
  background-color: $base-text-color
  &:hover
    background-color: darken($base-text-color, 20)
  img
    height: 100%!important
    width: auto!important
